{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "jest"],
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "env": {
    "node": true,
    "browser": true,
    "mocha": true,
    "jasmine": true
  },
  "rules": {
    "no-unused-vars": 1,
    "no-underscore-dangle": 0,
    "no-debugger": 0,
    "import/no-unresolved": 0,
    "react/jsx-filename-extension": 0,
    "import/no-extraneous-dependencies": 0,
    "react/jsx-one-expression-per-line": 0,
    "import/prefer-default-export": 0,
    "react/prop-types": 0,
    "react/jsx-sort-props": [
      2,
      {
        "callbacksLast": true,
        "shorthandFirst": true,
        "shorthandLast": false,
        "ignoreCase": false,
        "noSortAlphabetically": false,
        "reservedFirst": false
      }
    ]
  }
}
